@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Corona - maatregelen";
}
<style>
       article p, h1{
        text-align: left;
    }
</style>
   
    <div class="row justify-content-center text-center">
        <section class="col-sm-12 col-md-6 col-lg-6">
            
            <article class="containerStyle col-auto" style="margin-top:2%">
                <h1 class="h1Resize">Maatregelen in de praktijk</h1>
                <p>
                    Corona is vandaag nergens nog weg te denken.
              <br />Daarom dat wij vragen om in onze praktijken
              <br />de algemene maatregelen te respecteren.
                </p>

                <p>
                    Ook voorzien wij zelf onze eigen maatregelen:
                </p>
                <div class="col-auto d-flex list-group">
                    <ul>
                        <li class="list-group-item">Een Mondmasker is verplicht in de wachtzaal</li>
                        <li class="list-group-item">Handen wassen bij het binnen en buitengaan</li>
                        <li class="list-group-item">Enkel bij een corona test mag het masker af</li>
                        <li class="list-group-item">
                            Gelieve ook bij het binnenkomen voor een vrij consultatie de qr code te scannen en uw gegevens in te vullen.
                        </li>
                    </ul>
                </div>

            </article>
        </section>
        <section class="text-sm-center text-md-center text-lg-center col-sm-12 col-md-6 col-lg-6">
            <article class=" containerStyle col-auto" style="margin:2% 0 0 2%">
                <h1 class="h1Resize">Wat kan je zelf doen?</h1>
                <p>
                    Een goede hygiëne draagt bij tot een betere bescherming.
                    <br />Daarnaast kan je ook best zo veel mogenlijk van thuis uit werken indien dat kan.
                </p>
                <p>
                    Het dragen van uw mondmasker buitenshuis kan ook veel besmettingen voorkomen.<br />
                    Indien u mogelijke symptomen vertoond vermijd dan contact met andere mensen.<br />
                    Heb altijd een flesje handgel op zak.
                </p>

                <p>
                    Het allerbelangrijkste is natuurlijk dat we <b>SAMEN</b> deze pandemie bestrijden!
                </p>
            </article>
        </section>
    </div>
   
