@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
    ///onderstaande link is vanwaar ik hem heb gheaald
    ///https://thenounproject.com/term/syringe/206178/ 
    ViewData["Img"] = "/css/images/Syringe.png";
}



    <section class="col-12 colorError">
        <header class="row justify-content-center">
            <h1 class="h1Resize">Error! Hopelijk is deze pagina niet besmet met Covid-19.</h1>
        </header>
        
            <picture class="row loadError justify-content-center">
                <img src="@ViewData["Img"]"/>
            </picture>

        <canvas id="stage"></canvas>
    </section>

<script>
    

window.addEventListener("keydown", function(e) {
    // keys opvangen
    if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
        e.preventDefault();
    }
}, false);

var Game      = Game      || {};
var Keyboard  = Keyboard  || {}; 
var Component = Component || {};

/**
 * mapping pijltjes
 */
Keyboard.Keymap = {
  37: 'left',
  38: 'up',
  39: 'right',
  40: 'down'
};

/**
 * Keyboard Events
 */
Keyboard.ControllerEvents = function() {
  
  // Set
  var self      = this;
  this.pressKey = null;
  this.keymap   = Keyboard.Keymap;

  // event key opvangen
  document.onkeydown = function(event) {
    self.pressKey = event.which;
  };
  
  // keys
  this.getKey = function() {
    return this.keymap[this.pressKey];
  };
};

/**
 * componenten
 */
Component.Stage = function(canvas, conf) {  
  
  // Sets
  this.keyEvent  = new Keyboard.ControllerEvents();
  this.width     = canvas.width;
  this.height    = canvas.height;
  this.length    = [];
  this.food      = {};
  this.score     = 0;
  this.direction = 'right';
  this.conf      = {
    cw   : 10,
    size : 5,
    fps  : 1000
  };
  

  if (typeof conf == 'object') {
    for (var key in conf) {
      if (conf.hasOwnProperty(key)) {
        this.conf[key] = conf[key];
      }
    }
  }
  
};

/**
 * Component
 */
Component.Snake = function(canvas, conf) {
  
 // Stage
  this.stage = new Component.Stage(canvas, conf);
  
  // Init Snake
  this.initSnake = function() {
    
    // snake grootte 
    for (var i = 0; i < this.stage.conf.size; i++) {
      
      // cellen toevoegen
      this.stage.length.push({x: i, y:0});
		}
	};
  
  // Call init Snake
  this.initSnake();
  
  // food initializeren
  this.initFood = function() {
		
    // food toevoegen
    this.stage.food = {
			x: Math.round(Math.random() * (this.stage.width - this.stage.conf.cw) / this.stage.conf.cw), 
			y: Math.round(Math.random() * (this.stage.height - this.stage.conf.cw) / this.stage.conf.cw), 
		};
	};
  
  // Init Food
  this.initFood();
  
  //Herstarten
  this.restart = function() {
    this.stage.length            = [];
    this.stage.food              = {};
    this.stage.score             = 0;
    this.stage.direction         = 'right';
    this.stage.keyEvent.pressKey = null;
    this.initSnake();
    this.initFood();
  };
};

/**
 * tekenen
 */
Game.Draw = function(context, snake) {
  
  // stage
  this.drawStage = function() {
    
    // keys checken
    var keyPress = snake.stage.keyEvent.getKey(); 
    if (typeof(keyPress) != 'undefined') {
      snake.stage.direction = keyPress;
    }
    
    // witte stage tekenen
		context.fillStyle = "white";
		context.fillRect(0, 0, snake.stage.width, snake.stage.height);
		
    // positie
    var nx = snake.stage.length[0].x;
		var ny = snake.stage.length[0].y;
		
    // Add position by stage direction
    switch (snake.stage.direction) {
      case 'right':
        nx++;
        break;
      case 'left':
        nx--;
        break;
      case 'up':
        ny--;
        break;
      case 'down':
        ny++;
        break;
    }
    
    // collision
    if (this.collision(nx, ny) == true) {
      snake.restart();
      return;
    }
    
    // snake food logica
    if (nx == snake.stage.food.x && ny == snake.stage.food.y) {
      var tail = {x: nx, y: ny};
      snake.stage.score++;
      snake.initFood();
    } else {
      var tail = snake.stage.length.pop();
      tail.x   = nx;
      tail.y   = ny;	
    }
    snake.stage.length.unshift(tail);
    
    // teken de snake
    for (var i = 0; i < snake.stage.length.length; i++) {
      var cell = snake.stage.length[i];
      this.drawCell(cell.x, cell.y);
    }
    
    // teken eten
    this.drawCell(snake.stage.food.x, snake.stage.food.y);
    
    // score
    context.fillText('Score: ' + snake.stage.score, 5, (snake.stage.height - 5));
  };
  
  // teken cell
  this.drawCell = function(x, y) {
    context.fillStyle = '#39ccc7';
    context.beginPath();
    context.arc((x * snake.stage.conf.cw + 6), (y * snake.stage.conf.cw + 6), 4, 0, 2*Math.PI, false);    
    context.fill();
  };
  
  // muur collision
  this.collision = function(nx, ny) {  
    if (nx == -1 || nx == (snake.stage.width / snake.stage.conf.cw) || ny == -1 || ny == (snake.stage.height / snake.stage.conf.cw)) {
      return true;
    }
    return false;    
	}
};


/**
 * game
 */
Game.Snake = function(elementId, conf) {
  
  // klaarzetten
  var canvas   = document.getElementById(elementId);
  var context  = canvas.getContext("2d");
  var snake    = new Component.Snake(canvas, conf);
  var gameDraw = new Game.Draw(context, snake);
  
  // Game Interval
  setInterval(function() {gameDraw.drawStage();}, snake.stage.conf.fps);
};


/**
 * Window loaded
 */
window.onload = function() {
  var snake = new Game.Snake('stage', {fps: 100, size: 4});
};


</script>
