@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Toegang geweigerd!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"> U hebt geen rechten op dit deel van de site!</p>
</header>
