


@{
    ViewData["Title"] = "Admin";
}


<section>

    <div class="row col-12 text-center">
            <a class="button col-sm-12 col-md-4 col-lg-4" style="color:white; width:2rem" asp-controller="Dokter" asp-action="Index">Dokters beheren</a>
            <a class="button col-sm-12 col-md-4 col-lg-4"style="color:white; width:2rem"  asp-controller="Praktijk" asp-action="Index" >Praktijken beheren</a>
            <a class="button col-sm-4 col-md-4 col-lg-4" asp-controller="Specialisatie" asp-action="Index" style="color:white; width:2rem">Specialiteiten beheren</a>
    </div>

</section>

